<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div scrollY="true">
    <ion-list>
      <ion-item *ngFor="let dev of dispositivos">
        <ion-card style="width: 100%">
          <ion-card-header type="button" (click)="toggleDetails()">
            <ion-card-subtitle>
              <ion-icon
                id="trashIcon"
                style="float: right"
                name="trash-outline"
                vertical="top"
                horizontal="end"
                (click)="delete(dev)"
              ></ion-icon>
            </ion-card-subtitle>
            <ion-card-title>{{dev.name}}</ion-card-title>
            <h4>{{dev.serialNo}}</h4>
          </ion-card-header>
          <ion-card-content *ngIf="showDetails">
            <ion-label>Aposentos</ion-label>
            <ion-list *ngFor="let item of aposentosDisponibles">
              <ion-button
                ion-button
                full
                (click)="changeAposento(dev,item.name)"
                >{{item.name}}</ion-button
              >
            </ion-list>
          </ion-card-content>
          <ion-icon
            name="search-outline"
            class="icon"
            [routerLink]="['./', dev.serialNo]"
          ></ion-icon>
          <ion-icon
            name="create-outline"
            item-left
            class="icon"
            (click)="rename(dev)"
          ></ion-icon>
          <ion-icon
            name="share-outline"
            class="icon"
            (click)="transfer(dev)"
          ></ion-icon>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  <!-- fab placed to the top end -->
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="addDevice()"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
