<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div>
    <h1>{{ usuario.name }} {{usuario.lName}}</h1>
    <h3>{{usuario.region.contient}}, {{usuario.region.country}}</h3>
    <h3>{{usuario.email}}</h3>
    <h3 *ngFor="let addr of usuario.deliveryAddress">
      {{addr.province}}, {{addr.district}}, {{addr.detail}}
    </h3>
  </div>
</ion-content>
